@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 1rem; 
    box-sizing: border-box;
    display: flex;
    height: 30.75rem;
    width: 41rem;
    background-color: hsl(0, 0%, 100%);
}

.imgchanel{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 20.5rem;
}

.productopin{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 2.73rem;
}

.perfume, .description, .boton, .precionormal{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 0.87rem;
    font-weight: normal;
    color: hsl(228, 12%, 48%);
}

.titulo, .oferta{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.perfume{
    letter-spacing: 5px;
}

.titulo{
    color: hsl(212, 21%, 14%);
}

.description{
    line-height: 1.4rem;
}

.precio{
    display: flex;
    align-items: center;
}

.oferta{
    margin-right: 1.7rem;
    color: hsl(158, 36%, 37%);
}

.precionormal{
    text-decoration: line-through;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: hsl(158, 36%, 37%);
    border-style: none;
    height: 2.8rem;
    border-radius: 10px;
}

.boton span{
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.img-mobile{
    display: none;
}

@media (max-width: 575px) {
    body{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
    
    .container{
        height: auto;
        display: flex;
        flex-direction: column;
        width: 21.5rem;
        height: auto;
    }

    .imgchanel{
        display: none;
    }
    
    .img-mobile{
        width: auto;
        display: inline-block;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .productopin{        
        padding: 1.7rem;
        height: 23.5rem;
    }
}